* {
  margin: 0;
  padding: 0; }

.bienvenida {
  background-image: url(../img/markus-spiske-37930.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  height: 100vh; }

.row {
  margin-bottom: 0px; }

nav {
  background-color: transparent !important;
  box-shadow: none; }

.fuente-nav {
  color: #f6f2d9;
  font-size: 16px;
  font-weight: bold; }

.navbar-fixed {
  margin-left: 480px; }

.segunda-seccion {
  height: auto;
  padding: 60px;
  background-color: #f6f2d9; }
  .segunda-seccion .titulo-acercademi {
    font-family: 'Playfair Display', serif;
    font-family: 'Indie Flower', cursive;
    margin-top: 50px;
    color: #3a1a02;
    font-weight: bolder;
    font-size: 60px; }

.parrafo-acercademi {
  color: #a3814f;
  font-weight: bolder;
  font-size: 15px;
  margin-top: 100px; }

.titulo-contacto {
  font-family: 'Playfair Display', serif;
  font-family: 'Indie Flower', cursive;
  margin-top: 50px;
  color: #3a1a02;
  font-weight: bolder;
  font-size: 60px; }

.img-perfil {
  border: 6px solid #868160; }

.img-pc {
  background-image: url(../img/william-iven-8515.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 80vh; }

.img-cafe {
  background-image: url(../img/toa-heftiba-274947.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 80vh; }

.tercera-seccion {
  height: auto;
  padding: 60px;
  background-color: #f6f2d9; }
  .tercera-seccion .devicon {
    font-size: 100px;
    color: #868160; }

.titulo-skills {
  color: #3a1a02;
  font-family: 'Playfair Display', serif;
  font-family: 'Indie Flower', cursive;
  margin-top: 50px;
  font-weight: bolder;
  font-size: 60px;
  margin-top: 10px; }

.titulo-skills-mobile {
  color: #f6f2d9;
  font-family: 'Playfair Display', serif;
  font-family: 'Indie Flower', cursive;
  margin-top: 50px;
  font-weight: bolder;
  font-size: 60px;
  margin-top: 10px; }

.seccion-foto {
  background-image: url(../img/toa-heftiba-274947.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 80vh; }

.sec-slider {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 80vh; }

.slider {
  position: absolute; }
  .slider .slides li {
    height: 80vh; }
  .slider .slides .devicon {
    font-size: 100px; }

.portafolio {
  height: auto;
  padding: 60px;
  background-color: #f6f2d9; }
  .portafolio .titulo-portafolio {
    font-family: 'Playfair Display', serif;
    font-family: 'Indie Flower', cursive;
    margin-top: 50px;
    color: #3a1a02;
    font-weight: bolder;
    font-size: 60px; }

.img-portafolio {
  border: 6px solid #868160; }

.informacion {
  height: auto;
  color: #868160;
  padding: 60px;
  background-color: #ddc79d; }
  .informacion .fa {
    color: #868160; }

.img-portafolio:hover {
  filter: opacity(0.5); }

.devicon:hover {
  border: 6px solid;
  -webkit-border: 6px solid; }

#logo {
  animation-name: logo;
  animation-duration: 2s;
  animation-fill-mode: forwards; }

@keyframes logo {
  0% {
    transform: translateY(-50%); }
  80% {
    transform: translateY(10%); } }

/*# sourceMappingURL=main.css.map */
