*{
	margin:0;
	padding:0;
}

.bienvenida{
	background-image: url(../img/markus-spiske-37930.jpg);
	background-attachment:fixed;
	@include cajaBienvenida();	
		.parr-developer{
			font-size:40px;
			font-weight:lighter;
	}
}

.row{
	margin-bottom:0px;
}

nav{
 	@include navbar();
}

.fuente-nav{
	color:$color-caja;
	font-size:16px;
	font-weight:bold;
}

.navbar-fixed{
	margin-left:480px;
}

.segunda-seccion{
	height:$height;
	padding:60px;
	background-color:$color-blanco;
		.titulo-acercademi{
    		@include titulo-acercademi();
	}
}

.linea{
	height:2px;
	background-color:$color-parrafo;
}

 .linea-contacto{
 	height:2px;
	background-color:$color-blanco;
 }

.parrafo-acercademi{
	@include parrafo();
}

.img-perfil{
	@include borde();
}

.img-pc{
	background-image: url(../img/william-iven-8515.jpg);
	background-attachment:fixed;
	@include cajas();
}

.img-cafe{
	background-image: url(../img/toa-heftiba-274947.jpg);
	background-attachment:fixed;
	@include cajas();
}

.tercera-seccion{
	height:$height;
	padding:$padding;
	background-color:$color-caja;
		.devicon{
			font-size:100px;
			color:$color-titulo;
	}
}

.titulo-skills{
	@include titulo-skills();
}

.titulo-skills-mobile{
	color:$color-caja;
	@include titulo-skills-mobile();
}

.seccion-foto{
	background-image:url(../img/toa-heftiba-274947.jpg);
	background-attachment:fixed;
	@include cajas();
}

.sec-slider{
	@include cajas();
}


.slider{
	position: absolute;
	.slides{
		li{
			height:80vh;
		}
		.devicon{
			font-size:100px;
		}
	}
}


.portafolio{
	height:$height;
	padding:$padding;
	background-color:$color-blanco;
		.titulo-portafolio{
 			@include titulo-portafolio();		
	}
}

.img-portafolio{
	@include borde();
}

.informacion{
	height:$height;
	color:$color-titulo;
	padding:$padding;
	background-color:$color-blanco;
		.fa{
			color:$color-titulo;
	}
}

.informacion{
	.titulo-acercademi{
		@include titulo-acercademi();
	}
}

//efecto hover sobre imagenes de portafolio

.img-portafolio:hover{
	filter: opacity(.5);
}

//efecto borde a skills cuando cursor pasa por ellas.

.devicon:hover{
border:6px solid;
-webkit-border:6px solid;
}

//animacion del logo 

#logo{
	animation-name: logo;
	animation-duration:2s;
	animation-fill-mode: forwards;
}

@keyframes logo{
	0%{
		transform:translateY(-50%);
	}
	80%{
		transform:translateY(10%);
	}
	
}
