*{
	margin:0;
	padding:0;
}

.bienvenida{
	background-image: url(../img/markus-spiske-37930.jpg);
	opacity:0.7;
	@include cajaBienvenida();	
		.parr-developer{
			font-size:40px;
			font-weight:bolder;
	}
}


.row{
	margin-bottom:0px;
}

nav{
 	@include navbar();
}

#sidenav-overlay{
  background-color: rgba(0,0,0,0);

}


.hide-on-med-and-down{
	margin-left:480px;
}

.material-icons{
	color:brown;
}

nav ul a{
	color:$color-titulo;
	font-size:16px;
	font-weight:bold;
}

.segunda-seccion{
	height:$height;
	padding:60px;
	background-color:$color-blanco;
		.titulo-acercademi{
    		@include titulo-acercademi();
	}
}

.parrafo-acercademi{
	@include parrafo();
}

.img-perfil{
	@include borde();
}

.parallax-container {
      height: 500px;
    }

.tercera-seccion{
	height:$height;
	padding:$padding;
	background-color:$color-caja;
		.devicon{
			font-size:100px;
			color:$color-titulo;
	}
}

.titulo-skills{
	@include titulo-skills();
}

.titulo-skills-mobile{
	color:$color-caja;
	@include titulo-skills-mobile();
}

.sec-slider{
	@include cajas();
}


.slider{
	position: absolute;
	.slides{
		li{
			height:80vh;
		}
		.devicon{
			font-size:100px;
		}
	}
}

.portafolio{
	height:$height;
	padding:$padding;
	background-color:$color-blanco;
		.titulo-portafolio{
 			@include titulo-portafolio();	
	}
}

.enlace-portafolio{
	color:$color-parrafo;
}	

.page-footer{
	background-color:$color-blanco;
	font-family: 'Open Sans', sans-serif;
		.titulo-footer{
			margin-bottom:70px;
			@include titulo-acercademi();	  	
	}
}

.text-footer{
	color:$color-parrafo;
}

.fa{
	color:$color-titulo;	
}


//efecto hover sobre imagenes de portafolio

.img-portafolio:hover{
	filter: opacity(.5);
}

//efecto borde a skills cuando cursor pasa por ellas.

.devicon:hover{
border:6px solid;
-webkit-border:6px solid;
}

//animacion del logo 

#logo{
	animation-name: logo;
	animation-duration:2s;
	animation-fill-mode: forwards;
}

@keyframes logo{
	0%{
		transform:translateY(-50%);
	}
	80%{
		transform:translateY(10%);
	}
	
}
